<!DOCTYPE html>
<%console.log(purchasedBooks)%>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Library</title>
    <script
      src="https://kit.fontawesome.com/bfa195b1fd.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../styles/card.css" />
    <link rel="stylesheet" href="../styles/allBooks.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../icons/icon-font.css" />
  </head>
  <body>
    <div class="header">
      <a href="/" class="header-logo"><i class="fab fa-blogger-b"></i></a>
      <h3 class="book-word">purchases</h3>
      <!-- right side starts here -->
      <div class="right-side-top">
        <%if(user){%>
        <!-- user icon and username -->
        <div class="user-icon-and-username">
          <span class="user-icon">
            <i class="icon-ic-actions-user"></i>
          </span>
          <span class="user-name-word"><%=user.username%></span>
        </div>
        <!-- user icon and username -->
        <a href="/library" class="library-icon">
          <i class="icon-ic-devices-tablet"></i>
        </a>
        <a href="/logout" class="user-name-word logout-word">logout</a>
        <%}else{%>
        <!-- user icon and username -->
        <div class="user-icon-and-username">
          <span class="user-icon">
            <i class="icon-ic-actions-closed-user"></i>
          </span>
          <a href="/login" class="user-name-word login-word">login</a>
        </div>
        <!-- user icon and username -->
        <a href="/register" class="user-name-word logout-word">signup</a>
        <%}%>
      </div>
      <!-- right side ends here -->
    </div>
    <!-- belly -->
    <div class="belly">
      <!-- foreach starts here -->
      <%purchasedBooks.forEach(book => {%>
      <!-- card start here -->
      <div class="card">
        <div class="card__side card__side--front">
          <!-- ADD PICTURE ON THE CARD IN CSS using set attribute bacKground -->
          <div
            class="card__picture"
            style="background-image: url('../<%=book.cover%>');"
          >
            &nbsp;
          </div>
          <h5 class="card__heading">
            <!-- book title -->
            <span class="card__heading-span"><%=book.title%></span>
          </h5>
          <div class="card__details">
            <ul>
              <li class="item">summarry</li>
              <li class="item">reviews</li>
              <li class="item">author</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">price</p>
              <p class="card__price-value">
                <i class="fas fa-comment-dollar"></i><%=book.price%>
              </p>
            </div>

            <a href="<%=book._id%>" class="btns buyButtonLink btn--white"
              >review</a
            >
          </div>
        </div>
      </div>
      <!-- car ends here -->

      <%})%>
      <!--foreach ends here-->
    </div>
    <!-- belly ends here -->
  </body>
</html>
